*{
    margin: 0%;
    padding: 0%;
}
#cabecalho {
    width: 100%;
    background-color: #e8e6e6;
    padding: 2px 0px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    flex-wrap: wrap;
    gap: 20px;
}
a{
    color: #000000;
    text-decoration: none;
    margin: 10px;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;

}
#images{
    display: flex;
    width: 100%;
}
#logo_02{
    width: 30%;
}
#logo_03{
    width: 70%;
}
#mensagem{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #e8e6e6;
    padding: 5px;
}

/* textos */

#textos{
    display: flex;
    background-color: #e8e6e6;
}

.tituloTextos{
    width: 100%;
    background-color: black;
    color: white;
    padding: 10px 20px;
}

#textos p, #textos h5{
    margin: 20px;
}

#textos h5{
    font-size: 15px;
}

#servicos{
    width: 75%;
}

#agenda{
    width: 25%;
}

/* rodapé */

#rodape{
    width: 100%;
    padding: 10px 0px;
    background-color: black;
    color: white;
}

#rodape p{
    margin: 20px;
}

/* mapa */
#mapa{
    padding: 5px 0px;
    margin: 20px 2px;    
    background-color: #fdfcfc;
}
